/* ABOUT ME */
/* .about-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
} */

.about-desc {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}

.about-slogan {
  border-radius: 24px;
  width: 100%;
  height: 500px;
  padding: 32px;
  background-color: #242527;
}

.about-tagline {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.text-red {
  color: #ed3b44;
}

.text-gray {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-image {
}

.about-content {
  margin-bottom: 32px;
}
.content-item-about-me {
}

.about-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 12px;
}
.about-me-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.content-item-role {
  margin-bottom: 32px;
}
.content-item-education {
}
.about-skillset {
  margin-bottom: 32px;
}
